h1 {
    text-align: center;
    color: white ;
    margin-top: 60px;
}

/* body {
    background-color: black;
} */

.grid {
display: grid;
border: 5px solid black;
width: 625px;
height: 700px;
/* grid-template-columns: 100px 100px 100px 100px 100px 100px ;  */
grid-template-columns: 100px 1fr 100px;
grid-template-rows: 100px 100px 1fr 100px ;
margin: 50px auto;
gap: 5px 5px;

}

.grid1 {
    background-color: aqua;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.grid2{
    background-color: coral;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.grid3 {
    background-color: darkseagreen;
    grid-column: 2 / 3 ;
    grid-row: 2 /3;
}

.grid4 {
    background-color: fuchsia;
    grid-column:3 / 4;
    grid-row: 2 / 4;
}

.grid5 {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.grid6 {
    background-color: goldenrod;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}





/* body {
    height: 600vh;
    width: 100vw;
    display: flex;
    justify-content: top;
    align-items: top;
}

body div {
    height: 200px;
    width: 200px;
    border: solid 2px red;
}

body div {
    height: 200px;
    width: 600px;
    border: solid 2px rgb(0, 162, 255);
} */

/*  body div::before {
            position: absolute;
            height: 100px;
            content: "";
            width: 100px;
            border-radius: 50%;
            transform: translate(-40%, -50%);
            border: solid 2px rgb(0, 106, 255);
        }
        
        body div::after {
            position: absolute;
            height: 100px;
            content: "";
            width: 100px;
            border-radius: 50%;
            border: solid 2px rgb(0, 255, 0);
            transform: translate(150px, 150px); */