body{
    background-color: rgb(83, 174, 239);
}

.main {
    position: absolute;
    top: 75px;
    left: 50px;
    right: 50px;
    bottom: 75px;
    background-color: rgb(30, 44, 165);
    position: absolute;
}

.cercle{
    position: absolute;
    background-color: rgb(239, 83, 109) ;
    top: 750px;
    left: 450px;
    right: 50px;
    bottom: 75px;
}